<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * Copyright 2015 Gordon Knoppe
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.

 * @author     Gordon Knoppe
 * @category   Guidance
 * @package    Cachebuster
 * @copyright  Copyright (c) 2015 Gordon Knoppe
 * @license   http://www.apache.org/licenses/LICENSE-2.0  Apache License 2.0
 */
 -->
<config>
    <modules>
        <Guidance_Cachebuster>
            <codeVersion>1.0.1</codeVersion>
        </Guidance_Cachebuster>
    </modules>
    <global>
        <helpers>
            <guidance_cachebuster>
                <class>Guidance_Cachebuster_Helper</class>
            </guidance_cachebuster>
        </helpers>
        <models>
            <guidance_cachebuster>
                <class>Guidance_Cachebuster_Model</class>
            </guidance_cachebuster>
        </models>
    </global>
    <default>
        <system>
            <guidance_cachebuster>
                <is_enabled>0</is_enabled>
                <url_keys>js,media,skin</url_keys>
                <file_extensions>js,css,png,jpeg,jpg,gif</file_extensions>
            </guidance_cachebuster>
        </system>
    </default>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <guidance_cachebuster>
                        <type>singleton</type>
                        <class>guidance_cachebuster/observer</class>
                        <method>controller_action_postdispatch</method>
                    </guidance_cachebuster>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
</config>
