<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * Copyright 2015 Gordon Knoppe
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.

 * @author     Gordon Knoppe
 * @category   Guidance
 * @package    Cachebuster
 * @copyright  Copyright (c) 2015 Gordon Knoppe
 * @license   http://www.apache.org/licenses/LICENSE-2.0  Apache License 2.0
 */
 -->
<config>
    <sections>
        <system>
            <groups>
                <guidance_cachebuster translate="label">
                    <label>Cachebuster Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>800</sort_order>
                    <fields>
                        <is_enabled translate="label">
                            <label>Enable cachebuster</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>adminhtml/system_config_backend_cache</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enabled>
                        <url_keys translate="label">
                            <label>URL map</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>guidance_cachebuster/source_urlmap</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_keys>
                        <file_extensions translate="label">
                            <label>File extensions</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>List of file extensions to add cachebusting timestamps to, comma-separated
                                (ex: js,css,png,jpg,gif).  This should match the file extensions declared in your .htaccess file</comment>
                        </file_extensions>
                    </fields>
                </guidance_cachebuster>
            </groups>
        </system>
    </sections>
</config>